@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #a2d2ff;
  font-family: "Trispace", sans-serif;
}

.home {
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home > li {
  border-style: solid;
  border-color: #000000;
  padding: 8px;
}

.home > li:hover {
  background-color: #ffffff;
}

li > a {
  text-decoration: none;
  color: #000000;
  font-size: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.top {
  color: #000000;
  font-size: 36px;
}
